@use "styles/abstracts/mixins" as *;

.Popup {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  @include positioning($position: fixed, $inline: 0, $block: 0, $x: 0, $y: 0);

  .background {
    width: 100vw;
    height: 100vh;
    background-color: var(--c-shadow-400);
  }

  .foreground {
    position: absolute;
    background-color: var(--c-white);
    min-width: 10rem;
    max-height: calc(100vh - var(--spacing-l) * 2);
    margin: var(--spacing-l);
    overflow: auto;

    & > .header {
      display: flex;
      justify-content: flex-end;

      .CloseButton {
        margin: var(--spacing-m);
      }
    }
  }
}
