.Popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .background {
    width: 100vw;
    height: 100vh;
    background-color: var(--c-shadow-400);
  }

  .foreground {
    position: absolute;
    background-color: var(--c-white);
    min-width: 10rem;
    max-height: calc(100vh - 2rem);
    margin: 1rem;

    &.closable {
      padding-block-start: 3rem;
    }

    .CloseButton {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    }
  }
}
