@use "styles/abstracts/mixins" as *;

.Popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .background {
    width: 100vw;
    height: 100vh;
    background-color: var(--c-shadow-400);
  }

  .foreground {
    position: absolute;
    background-color: var(--c-white);
    min-width: 10rem;
    max-height: calc(100vh - var(--spacing-l) * 2);
    margin: var(--spacing-l);

    &.closable {
      padding-block-start: 3rem;
    }

    .CloseButton {
      @include positioning(
        $inlineDir: "end",
        $inline: var(--spacing-m),
        $block: var(--spacing-m),
        $x: 0,
        $y: 0
      );
    }
  }
}
