@use "../abstracts/colors" as *;

@mixin solid($color) {
  --c-foreground: var(--c-white);
  --c-background: var(--c-#{$color}-300);

  background-color: var(--c-background);
  color: var(--c-foreground);
  outline-offset: -2px;

  &:focus:enabled {
    outline-offset: 0;
    outline: 2px solid var(--c-#{$color}-200);
  }

  &:hover:enabled {
    --c-background: var(--c-#{$color}-200);

    outline: none;
  }

  &:active:enabled {
    --c-background: var(--c-#{$color}-400);

    outline: none;
  }

  &:disabled:not(.noDisableStyle) {
    --c-foreground: var(--c-gray-200);
    --c-background: var(--c-gray-100);
  }
}

@mixin outline($color) {
  --c-foreground: var(--c-#{$color}-300);
  --c-background: transparent;

  outline-offset: -2px;
  outline: 2px solid var(--c-foreground);
  color: var(--c-foreground);
  background-color: var(--c-background);

  &:focus:enabled {
    --c-background: var(--c-#{$color}-100);
  }

  &:hover:enabled {
    --c-foreground: var(--c-white);
    --c-background: var(--c-#{$color}-300);

    outline: none;
  }

  &:active:enabled {
    --c-foreground: var(--c-white);
    --c-background: var(--c-#{$color}-400);

    outline: none;
  }

  &:disabled:not(.noDisableStyle) {
    --c-foreground: var(--c-gray-200);
  }
}

@mixin text($color) {
  --c-foreground: var(--c-#{$color}-300);
  --c-background: transparent;

  color: var(--c-foreground);
  background-color: var(--c-background);

  &:focus:enabled {
    outline-offset: -2px;
    outline: 2px solid var(--c-#{$color}-100);
  }

  &:hover:enabled {
    --c-background: var(--c-#{$color}-100);

    outline: none;
  }

  &:active:enabled {
    --c-foreground: var(--c-white);
    --c-background: var(--c-#{$color}-400);
  }

  &:disabled:not(.noDisableStyle) {
    --c-foreground: var(--c-gray-200);
  }
}

@mixin ghost($color) {
  --c-foreground: var(--c-#{$color}-300);
  --c-background: var(--c-#{$color}-100);

  background-color: var(--c-background);
  color: var(--c-foreground);

  &:focus:enabled {
    outline-offset: -2px;
    outline: 2px solid var(--c-#{$color}-200);
  }

  &:hover:enabled {
    --c-foreground: var(--c-white);
    --c-background: var(--c-#{$color}-200);

    outline: none;
  }

  &:active:enabled {
    --c-foreground: var(--c-white);
    --c-background: var(--c-#{$color}-300);
  }

  &:disabled:not(.noDisableStyle) {
    --c-foreground: var(--c-gray-200);
    --c-background: var(--c-shadow-100);
  }
}

@mixin plainText {
  --c-foreground: var(--c-black);
  --c-background: transparent;

  color: var(--c-foreground);
  background-color: var(--c-background);

  &:focus:enabled {
    outline-offset: -2px;
    outline: 2px solid var(--c-gray-100);
  }

  &:hover:enabled {
    --c-background: var(--c-gray-100);

    outline: none;
  }

  &:active:enabled {
    --c-background: var(--c-gray-200);
  }

  &:disabled:not(.noDisableStyle) {
    --c-foreground: var(--c-gray-200);
  }
}

@mixin large {
  padding: 1em 2em;
  font-weight: bold;
  border-radius: 0.375em;

  &.iconButton {
    padding-inline: 1em;
  }
}

@mixin medium {
  padding: 0.5em 1em;
  border-radius: 0.25em;

  &.iconButton {
    padding-inline: 0.5em;
  }
}

@mixin small {
  padding: 0.25em 0.5em;
  border-radius: 0.25em;

  &.iconButton {
    padding-inline: 0.25em;
  }
}

@mixin buttonVariants {
  @each $color, $_ in $colors {
    &.#{$color}-solid {
      @include solid($color);
    }

    &.#{$color}-outline {
      @include outline($color);
    }

    &.#{$color}-text {
      @include text($color);
    }

    &.#{$color}-ghost {
      @include ghost($color);
    }
  }

  &.plain-text {
    @include plainText();
  }

  &.large {
    @include large();
  }

  &.medium {
    @include medium();
  }

  &.small {
    @include small();
  }
}

@mixin statusButton() {
  @each $type, $colorCodes in $statusColors {
    &.#{$type} {
      @each $code, $color in $colorCodes {
        &.#{$code} {
          @include ghost($color);
          @include small();
        }
      }

      &.unknown {
        @include ghost("gray");
        @include small();
      }
    }
  }
}
