@use "../abstracts/colors" as *;

@mixin buttonVariants {
  @each $color, $_ in $colors {
    &.#{$color}-solid {
      background-color: var(--c-#{$color}-300);
      color: var(--c-white);
      outline-offset: -2px;

      &:focus:enabled {
        outline: 3px solid var(--c-#{$color}-200);
      }

      &:hover:enabled {
        outline: none;
        background-color: var(--c-#{$color}-200);
      }

      &:active:enabled {
        outline: none;
        background-color: var(--c-#{$color}-400);
      }

      &:disabled {
        background-color: var(--c-gray-100);
        color: var(--c-gray-200);
      }
    }

    &.#{$color}-outline {
      outline-offset: -2px;
      outline: 2px solid var(--c-#{$color}-300);
      color: var(--c-#{$color}-300);

      &:focus:enabled {
        background-color: var(--c-#{$color}-100);
      }

      &:hover:enabled {
        outline: none;
        background-color: var(--c-#{$color}-300);
        color: var(--c-white);
      }

      &:active:enabled {
        outline: none;
        background-color: var(--c-#{$color}-400);
        color: var(--c-white);
      }

      &:disabled {
        outline-color: var(--c-gray-200);
        border-color: var(--c-gray-200);
        color: var(--c-gray-200);
      }
    }

    &.#{$color}-ghost {
      color: var(--c-#{$color}-300);

      &:focus:enabled {
        outline-offset: -2px;
        outline: 3px solid var(--c-#{$color}-100);
      }

      &:hover:enabled {
        outline: none;
        background-color: var(--c-#{$color}-100);
      }

      &:active:enabled {
        background-color: var(--c-#{$color}-400);
        color: var(--c-white);
      }

      &:disabled {
        color: var(--c-gray-200);
      }
    }
  }

  &.default {
    padding: 0.75em 1.5em;
    font-weight: 600;
  }

  &.small {
    padding: 0.5em 1em;
  }
}
