@use "styles/abstracts/mixins" as *;

.InputGroup {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: var(--spacing-xl) var(--spacing-l);

  &.dynamicListItem {
    & > .action {
      flex-grow: 0;
      align-self: flex-end;
    }
  }

  & > * {
    flex: 1;
  }

  @include mobile {
    display: grid;
  }
}
