@use "styles/abstracts/mixins" as *;

.InputGroup {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xl) var(--spacing-l);

  @include mobile {
    flex-direction: column;
  }

  & > * {
    flex-grow: 1;
    flex-basis: 0;
  }
}
