@import "styles/utils";

.PhoneNumberInput {
  min-width: 18rem;

  & > .FieldWrapper {
    padding-inline: 0;
  }

  .countryCode {
    flex: 4;
  }

  .dialNumber {
    flex: 5;
  }

  @include errorMessage();
}
