.DropdownArrow {
  min-width: 1.5rem;
  fill: var(--c-gray-400);
  transform: rotate(180deg);

  &.isOpen {
    transform: rotate(0);
  }

  --duration: 0.5s;

  &.opening {
    animation: openMotion var(--duration);
  }

  &.closing {
    animation: closeMotion var(--duration);
  }

  $kf1: 0%;
  $kf2: 50%;
  $kf3: 100%;

  @keyframes openMotion {
    #{$kf1} {
      transform: rotate(180deg);
    }
    #{$kf2} {
      transform: rotate(-20deg);
    }
    #{$kf3} {
      transform: rotate(0);
    }
  }

  @keyframes closeMotion {
    #{$kf1} {
      transform: rotate(0);
    }
    #{$kf2} {
      transform: rotate(200deg);
    }

    #{$kf3} {
      transform: rotate(180deg);
    }
  }
}
