.TimeInput {
  .hour,
  .minute {
    width: 5rem;
  }

  .period {
    width: 6rem;
  }

  .colon {
    font-size: 1.625rem;
    color: var(--c-gray-300);
  }

  .item,
  .selected {
    justify-content: center;
  }
}
