.DropdownArrow {
  $kf1: 0%;
  $kf2: 60%;
  $kf3: 100%;

  --duration: 0.35s;
  --timing-function: ease;

  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: transform;
  transition-delay: var(--duration);

  .icon {
    &.opening {
      animation: openMotion var(--duration) var(--timing-function);
    }

    &.closing {
      animation: closeMotion var(--duration) var(--timing-function);
    }

    &.isOpen {
      transform: rotate(0);
    }

    &:not(.isOpen) {
      transform: rotate(180deg);
    }

    @keyframes openMotion {
      #{$kf1} {
        transform: rotate(180deg);
      }
      #{$kf2} {
        transform: rotate(-20deg);
      }
      #{$kf3} {
        transform: rotate(0);
      }
    }

    @keyframes closeMotion {
      #{$kf1} {
        transform: rotate(0);
      }
      #{$kf2} {
        transform: rotate(200deg);
      }

      #{$kf3} {
        transform: rotate(180deg);
      }
    }
  }
}
