@use "styles/components/button" as *;

.Button {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: var(--spacing-m);
  position: relative;

  &:not(.plain-text) {
    justify-content: center;
  }

  @include buttonVariants();
}
