@use "styles/components/button" as *;
@use "styles/abstracts/mixins" as *;

.Button {
  --fill-color: var(--c-gray-300);
  --text-color: var(--c-foreground);
  --transition-duration: 0.25s;

  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
  position: relative;
  transition: color var(--transition-duration);

  & > * {
    transition: opacity var(--transition-duration);
  }

  &:not(.plain-text) {
    --fill-color: var(--c-foreground);
    justify-content: center;
  }

  @include buttonVariants();

  &.isLoading {
    color: transparent;

    & > * {
      opacity: 0;
    }

    .loadingIndicator {
      opacity: 1;

      @include positioning();
    }
  }
}
