@use "styles/abstracts/mixins" as *;

.FlashCard {
  --hero-size: 10rem;

  width: fit-content;
  min-width: 30rem;
  max-width: 100vw;
  text-align: center;

  .light {
    font-weight: 300;
  }

  &.success {
    .accent {
      color: var(--c-success-300);
    }
  }

  &.error {
    .accent {
      color: var(--c-danger-300);
    }
  }

  .header {
    height: calc(var(--hero-size) * 0.7);
    position: relative;

    .hero {
      width: var(--hero-size);
      border-radius: 50%;
      box-shadow: var(--drop-shadow-l);

      @include positioning($blockDir: end, $block: 0, $y: 0);
    }
  }

  .footer {
    padding: var(--spacing-l);
    display: flex;
    justify-content: space-between;
  }

  p {
    margin-block-start: var(--spacing-l);
    color: var(--c-gray-400);
  }

  .code {
    text-align: left;
    border: 1px solid var(--c-gray-200);
    border-radius: var(--radius-xs);
    margin-block-start: var(--spacing-l);
    padding: var(--spacing-m);
  }
}
