@use "styles/abstracts/mixins" as *;

.Menu {
  --icon-space: 2.5em;

  .item {
    &.withCheckMark {
      padding-inline-end: var(--icon-space);
    }

    &.plain-text {
      .CheckMark {
        --fill-color: var(--c-gray-300);
      }
    }

    .CheckMark {
      --fill-color: var(--c-foreground);
      --spacing: calc(var(--icon-space) / 2);

      @include positioning($inline: var(--spacing), $inlineDir: "end");
    }
  }
}
