@use "styles/abstracts/mixins" as *;

.Menu {
  --icon-space: 2em;

  .item {
    &.withCheckMark {
      padding-inline-end: var(--icon-space);
    }

    .CheckMark {
      --spacing: calc(var(--icon-space) / 2);

      @include positioning($inline: var(--spacing), $inlineDir: "end");
    }
  }

  .searchField {
    --fill-color: var(--c-gray-300);

    .icon {
      width: 1.25rem;
    }

    &:focus-within {
      --fill-color: var(--c-primary-300);
    }

    .FieldWrapper {
      gap: var(--spacing-m);
    }
  }
}
