@use "styles/abstracts/mixins" as *;

.Menu {
  --icon-space: 2em;

  .LoadingDots {
    --fill-color: var(--c-gray-300);
  }

  .item {
    &.withCheckMark {
      padding-inline-end: var(--icon-space);
    }

    .CheckMark {
      --spacing: calc(var(--icon-space) / 2);

      @include positioning($inline: var(--spacing), $inlineDir: "end");
    }
  }

  @include searchField;
}
