.Tabs {
  display: flex;
  justify-content: center;

  .tabButton {
    width: 10rem;
    font-size: 1rem;
    color: var(--c-gray-300);
    border-block-end: 2px solid transparent;

    &.selected {
      color: var(--c-primary-300);
      font-weight: 600;
      border-block-end: 2px solid var(--c-primary-300);
    }
  }
}
