@use "styles/abstracts/mixins" as *;

.LoadingDots {
  --dot-size: 0.5rem;
  --dot-color: var(--fill-color);

  display: flex;
  align-items: center;
  gap: calc(var(--dot-size) / 2);

  .dot1,
  .dot2,
  .dot3 {
    animation: load 1s infinite;

    @include circle(var(--dot-size), var(--dot-color));
  }

  .dot2 {
    animation-delay: 0.2s;
  }

  .dot3 {
    animation-delay: 0.4s;
  }

  @keyframes load {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
