.Form {
  max-width: 50rem;
  display: grid;
  gap: 2rem;

  .actions {
    display: flex;
    justify-content: center;
    gap: 1rem;

    .submit {
      // position: relative;
      // bottom: 0;
      // transition: bottom 50ms ease-in;

      // &:hover {
      //   bottom: 0.125rem;
      //   box-shadow: 0 0.25rem 3px -1.5px var(--c-shadow);
      // }

      &.isSubmitting {
        color: var(--c-gray-400);
        background-color: var(--c-gray-200);
        cursor: default;
      }

      &.isSubmitSuccessful {
        background-color: var(--c-success-300);
        cursor: default;
      }
    }
  }
}
