@use "styles/components/button" as *;
@use "styles/abstracts/mixins" as *;

.StatusButton {
  .MiniForm {
    gap: var(--menu-spacing);
  }

  .customStatusWrapper {
    @include menuLayout();

    border-block: 1px solid var(--c-gray-100);
    padding-inline: unset;
  }

  .statusMenu {
    overflow: visible;
  }

  .driver,
  .option {
    position: relative;
    padding-inline-end: 2.5em !important;

    @include statusButton("subscription", "progress") {
      .DropdownArrow {
        --spacing: 0.5em;

        fill: var(--c-foreground);
        position: absolute;

        &[dir="ltr"] {
          left: none;
          right: var(--spacing);
        }

        &[dir="rtl"] {
          left: var(--spacing);
          right: none;
        }
      }

      .checkMark {
        --spacing: 1em;

        &[dir="ltr"] {
          left: none;
          right: var(--spacing);
        }

        &[dir="rtl"] {
          left: var(--spacing);
          right: none;
        }

        @include checkMark($y: -2px, $color: var(--c-foreground));
      }
    }
  }

  .statusField {
    input {
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &[type="number"] {
        -moz-appearance: textfield;
      }
    }
  }
}
