/* TABS */

.Tabs {
  min-width: 50rem;
  height: 3rem;
  padding: 0.5rem 1rem 0.25rem;
  background-color: var(--c-primary);
  position: sticky;
  top: 0;
  display: flex;
  gap: 0.25rem;

  .element {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 15rem;
    padding: 0.5rem 1rem;
    border-radius: 4px 4px 0 0;
    background-color: var(--c-shadow);
    text-align: start;
    text-transform: capitalize;

    &:focus {
      outline: 0;
    }

    &.selected {
      position: relative;
      height: 2.75rem;
      bottom: 0.25rem;
      border-radius: 6px 6px 0 0;
      background-color: var(--c-white);

      .title {
        color: var(--c-black);
      }
    }

    .title {
      font-size: 1rem;
      color: var(--c-white);
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
  }

  .actions {
    min-width: 6rem;
    display: flex;
    gap: 0.5rem;
    padding-inline-end: 0.75rem;
    justify-content: flex-start;

    .add-resource {
      --c-main: var(--c-white);

      width: 2.25rem;
      font-size: 2rem;
      font-weight: 400;
      color: var(--c-main);
      background-color: transparent;
      border: 2px solid var(--c-main);
      border-radius: 0.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition-duration: 200ms;
      transition-property: background-color, color;

      &:hover {
        background-color: var(--c-main);
        color: var(--c-primary);

        transition-duration: 200ms;
        transition-property: background-color, color;
      }
    }
  }
}
