.Form {
  display: grid;
  gap: var(--spacing-xl);

  & > .header {
    max-width: 90%;
    min-width: 50%;
    padding-inline: var(--spacing-xl);
    padding-block-end: var(--spacing-m);
    margin-inline: auto;
    border-block-end: 1px solid var(--c-gray-200);
    text-align: center;
    text-transform: capitalize;
  }

  .withErrors {
    position: relative;

    .ErrorMessage {
      position: absolute;
      width: 100%;
    }
  }

  .actions {
    justify-content: space-between;
    gap: var(--spacing-l);

    & > * {
      flex: unset;
    }
  }
}
