.Form {
  max-width: 50rem;
  min-width: 20rem;
  padding: 1rem;
  margin-inline: auto;
  display: grid;
  gap: 2rem;
  background-color: var(--c-white);

  & > .header {
    max-width: 90%;
    min-width: 50%;
    padding-inline: 2rem;
    padding-block-end: 0.5rem;
    margin-inline: auto;
    border-block-end: 1px solid var(--c-gray-200);
    text-align: center;
    text-transform: capitalize;
  }

  .withErrors {
    position: relative;

    .ErrorMessage {
      position: absolute;
      width: 100%;
    }
  }

  .actions {
    justify-content: center;
    gap: 1rem;

    & > * {
      flex: unset;
    }

    .submit {
      // position: relative;
      // bottom: 0;
      // transition: bottom 50ms ease-in;

      // &:hover {
      //   bottom: 0.125rem;
      //   box-shadow: 0 0.25rem 3px -1.5px var(--c-shadow);
      // }

      // &.isSubmitting {
      //   color: var(--c-gray-400);
      //   background-color: var(--c-gray-200);
      //   cursor: default;
      // }

      // &.isSubmitSuccessful {
      //   background-color: var(--c-success-300);
      //   cursor: default;
      // }
    }
  }
}
