.Form {
  max-width: 50rem;
  min-width: 20rem;
  margin-block: 2rem;

  .body {
    display: grid;
    gap: 2rem;

    & > .header {
      max-width: 90%;
      min-width: 50%;
      padding-inline: 2rem;
      padding-block-end: 0.5rem;
      margin-inline: auto;
      border-block-end: 1px solid var(--c-gray-200);
      text-align: center;
      text-transform: capitalize;
    }

    .withErrors {
      position: relative;

      .ErrorMessage {
        position: absolute;
        width: 100%;
      }
    }

    .actions {
      justify-content: space-between;
      gap: 1rem;

      & > * {
        flex: unset;
      }
    }
  }
}
