$colors: (
  primary: (
    100: hsl(194, 40%, 95%),
    200: hsl(194, 40%, 43%),
    300: hsl(194, 40%, 35%),
    400: hsl(194, 40%, 27%),
    500: hsl(194, 40%, 15%),
  ),
  secondary: (
    100: hsl(74, 80%, 95%),
    200: hsl(74, 80%, 43%),
    300: hsl(74, 80%, 35%),
    400: hsl(74, 80%, 27%),
    500: hsl(74, 80%, 15%),
  ),
  success: (
    100: hsl(157, 78%, 95%),
    200: hsl(157, 78%, 38%),
    300: hsl(157, 78%, 30%),
    400: hsl(157, 78%, 22%),
    500: hsl(157, 78%, 15%),
  ),
  info: (
    100: hsl(197, 96%, 90%),
    200: hsl(197, 96%, 55%),
    300: hsl(197, 96%, 44%),
    400: hsl(197, 96%, 33%),
    500: hsl(197, 96%, 15%),
  ),
  warning: (
    100: hsl(39, 96%, 95%),
    200: hsl(39, 96%, 58%),
    300: hsl(39, 96%, 50%),
    400: hsl(39, 96%, 42%),
    500: hsl(39, 96%, 20%),
  ),
  danger: (
    100: hsl(0, 69%, 95%),
    200: hsl(0, 69%, 58%),
    300: hsl(0, 69%, 50%),
    400: hsl(0, 69%, 42%),
    500: hsl(0, 69%, 15%),
  ),
  "gray": (
    100: hsl(150, 8%, 90%),
    200: hsl(150, 8%, 70%),
    300: hsl(150, 4%, 50%),
    400: hsl(150, 4%, 30%),
    500: hsl(150, 10%, 10%),
  ),
  shadow: (
    100: hsla(150, 8%, 90%, 0.3),
    200: hsla(150, 8%, 70%, 0.3),
    300: hsla(150, 4%, 50%, 0.3),
    400: hsla(150, 4%, 30%, 0.3),
    500: hsla(150, 10%, 10%, 0.3),
  ),
);

$statusColors: (
  subscription: (
    fullPay: success,
    partialPay: warning,
    noPay: danger,
  ),
  progress: (
    canceled: warning,
    active: success,
    pending: danger,
    finished: warning,
    postponed: info,
  ),
);
