@use "sass:map";
@use "colors" as *;

// Screen Sizes
$sMobile: 35em; // can't use var in @media

@mixin mobile {
  @media screen and (max-width: $sMobile) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: calc($sMobile + 1px)) {
    @content;
  }
}

@mixin colorCoded($types...) {
  .colorCoded {
    &.unknown {
      background-color: var(--c-unknown);
      color: var(--c-unknown-text);
    }

    @each $type in $types {
      @each $code in map.get($colorCodes, $type) {
        &.#{$type} {
          background-color: var(--c-#{$type});

          @if index((noPay, postponed), $type) {
            color: var(--c-black);
          } @else {
            color: var(--c-White);
          }
        }
      }
    }
  }
}

@mixin optionsList {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

@mixin checkMark($x: 0px, $y: 0px) {
  content: "";
  width: 1rem;
  height: 0.5rem;
  border-left: 2px solid var(--c-white);
  border-bottom: 2px solid var(--c-white);
  position: absolute;
  transform: translate($x, $y) rotate(-45deg);
}

@mixin noFieldBorder {
  border: none;

  &:focus-within {
    border: none;
    outline: none;
  }

  &.invalid {
    border: none;
    outline: none;
  }
}

@mixin fieldBorder {
  border: 1px solid var(--c-gray-300);
  border-radius: 0.375rem;

  &:focus-within {
    outline: 1px solid var(--c-primary-200);
    border-color: var(--c-primary-200);
  }

  &.invalid {
    outline: 1px solid var(--c-danger-300);
    border-color: var(--c-danger-300);
  }
}

@mixin mainButton {
  height: 3rem;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  background-color: var(--c-success);
  font-size: 1rem;
  font-weight: 600;
  color: var(--c-white);
  text-transform: capitalize;
}

@mixin menuListItem {
  width: 100%;
  height: 2.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  white-space: nowrap;
}

@mixin floatingLanguageSelector {
  position: relative;

  .LanguageSelector {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}

@mixin banner {
  .banner {
    width: 100%;
    max-height: 25rem;
    object-fit: cover;
    object-position: center;
  }
}
