@use "sass:map";
@use "colors" as *;

// Screen Sizes
$sMobile: 35rem; // can't use var in @media

@mixin mobile {
  @media screen and (max-width: $sMobile) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: calc($sMobile + 1px)) {
    @content;
  }
}

@mixin checkMark($x: 0px, $y: 0px, $color: var(--c-white)) {
  --c-checkMark: #{$color};

  content: "";
  width: 1rem;
  height: 0.5rem;
  border-left: 2px solid var(--c-checkMark);
  border-bottom: 2px solid var(--c-checkMark);
  position: absolute;
  transform: translate($x, $y) rotate(-45deg);
}

@mixin withoutBorder($borderRadius: none) {
  --r-border: #{$borderRadius};

  border-radius: var(--r-border);
  border: none;

  &:focus-within {
    border: none;
    outline: none;
  }

  &.invalid {
    border: none;
    outline: none;
  }
}

@mixin withBorder(
  $states: none,
  $borderRadius: 0.375rem,
  $borderColor: var(--c-gray-300)
) {
  --c-border: #{$borderColor};
  --r-border: #{$borderRadius};
  --outline: none;

  border: 1px solid var(--c-border);
  border-radius: var(--r-border);
  outline: var(--outline);

  @if index($states, "focus") {
    &:focus-within {
      --c-border: var(--c-primary-200);
      --outline: 1px solid var(--c-border);
    }
  }

  @if index($states, "invalid") {
    &.invalid {
      --c-border: var(--c-danger-300);
      --outline: 1px solid var(--c-border);
    }
  }
}

// deprecated
@mixin mainButton {
  height: 3rem;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  background-color: var(--c-success);
  font-size: 1rem;
  font-weight: 600;
  color: var(--c-white);
  text-transform: capitalize;
}

@mixin menuListItem {
  width: 100%;
  height: 2.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

@mixin floatingLanguageSelector {
  position: relative;

  .LanguageSelector {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}

@mixin banner {
  .banner {
    width: 100%;
    max-height: 25rem;
    object-fit: cover;
    object-position: center;
  }
}
