$spacing: (
  xs: 0.125rem,
  s: 0.25rem,
  m: 0.5rem,
  l: 1rem,
  xl: 2rem,
);

$radius: (
  xs: 0.25rem,
  s: 0.375rem,
  m: 0.625rem,
  l: 0.75rem,
  xl: 1rem,
);

$width: (
  xs: 20rem,
  s: 35rem,
  m: 50rem,
  l: 65rem,
  xl: 80rem,
);
