@use "colors" as *;
@use "sizes" as *;

:root {
  // COLOR SCHEMA
  --c-white: white;
  --c-black: black;

  --c-male: hsl(197, 71%, 73%);
  --c-female: hsl(350, 100%, 88%);

  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --c-#{$color}-#{$shade}: #{$value};
    }
  }

  // MEASUREMENTS
  --closed-sidebar-width: 4rem;
  --opened-sidebar-width: 9rem;
  --page-min-height: 40rem;

  @each $size, $value in $spacing {
    --spacing-#{$size}: #{$value};
  }
}
