@use "styles/abstracts/mixins" as *;

.AutoCompleatInput {
  position: relative;

  .Input {
    position: unset; // fixes an issue with error messages width.

    &.hidden {
      .field {
        position: absolute;
        opacity: 0;
      }
    }
  }

  .selected {
    @include menuListItem();

    cursor: text;
  }

  .arrow {
    min-width: 1.5rem;
    transform: rotate(180deg);
    fill: var(--c-gray-400);

    &.isOpen {
      transform: unset;
    }
  }

  .menu {
    min-width: 100%;
    max-height: 20rem;
    padding: 0.25rem;
    background-color: var(--c-white);
    box-shadow: 2px 2px 8px var(--c-shadow-200);
    list-style-type: none;
    position: absolute;
    top: calc(100% + 0.375rem);
    z-index: 2;
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: contain;

    @include fieldBorder();

    .element {
      padding-inline: 0.75rem;
      border-radius: 0.25rem;
      cursor: pointer;

      @include menuListItem();

      &:hover {
        background-color: var(--c-shadow-200);
      }
    }
  }
}
