.FieldHeader {
  display: flex;
  align-items: center;

  .label {
    height: 1.5rem;
    display: flex;
    align-items: center;

    &.invalid {
      color: var(--c-danger-300);
    }

    &.required::after {
      content: "*";
      color: var(--c-danger-300);
      margin-inline-start: 0.5ch;
    }
  }
}
