.FieldHeader {
  margin-block-end: var(--spacing-m);
  display: flex;
  align-items: center;

  .label {
    &.invalid {
      color: var(--c-danger-300);
    }

    &.required::after {
      content: " *";
      color: var(--c-danger-300);
    }
  }
}
