@use "styles/abstracts/mixins" as *;

.Container {
  --border-radius: 0;

  margin-inline: auto;
  background-color: var(--c-white);
  border-radius: var(--border-radius);
  position: relative;
  z-index: 1;

  @include desktop() {
    --border-radius: 0.75rem;
    box-shadow: 4px 4px 16px var(--c-shadow-200);
  }

  &.menu {
    --border-radius: 0.375rem;

    max-width: calc(100vw - var(--spacing-l) * 2);

    @include withBorder(
      $borderColor: var(--c-gray-200),
      $borderRadius: var(--border-radius)
    );

    & > .header,
    & > .footer {
      padding: var(--spacing-s);
      background-color: var(--c-white);
    }

    & > .body {
      max-height: min(calc(100vh - var(--spacing-l) * 2), 20rem);
      overflow-y: auto;
      overscroll-behavior: contain;

      @include menuLayout();
    }
  }

  &.card {
    & > .body {
      padding: var(--spacing-l);

      @include desktop() {
        padding: var(--spacing-xl);
      }
    }
  }

  & > .header {
    border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
  }

  & > .footer {
    border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
  }
}
