@use "styles/abstracts/mixins" as *;

.Container {
  margin-inline: auto;
  background-color: var(--c-white);

  &.menu {
    max-width: calc(100vw - var(--spacing-l) * 2);
    max-height: min(calc(100vh - var(--spacing-l) * 2), 20rem);
    overflow-y: auto;
    overscroll-behavior: contain;

    @include menuLayout();
    @include withBorder(
      $borderRadius: 0.375rem,
      $borderColor: var(--c-gray-200)
    );
  }

  &.card {
    padding: var(--spacing-l);
  }

  @include desktop() {
    border-radius: 0.75rem;
    box-shadow: 4px 4px 16px var(--c-shadow-200);

    &.card {
      padding: var(--spacing-xl);
    }
  }
}
