@use "styles/abstracts/mixins" as *;

.Container {
  --border-radius: 0;

  margin-inline: auto;
  background-color: var(--c-white);
  border-radius: var(--border-radius);
  position: relative;

  & & {
    --border-radius: var(--radius-s);
  }

  @include desktop() {
    --border-radius: var(--radius-xl);

    &:not(.flat) {
      box-shadow: var(--drop-shadow-l);
    }
  }

  &.menu {
    --border-radius: var(--radius-s);

    max-width: calc(100vw - var(--spacing-l) * 2);

    @include withBorder(
      $borderColor: var(--c-gray-200),
      $borderRadius: var(--border-radius)
    );

    & > .header,
    & > .footer {
      padding: var(--spacing-s);
    }

    & > .body {
      max-height: min(calc(100vh - var(--spacing-l) * 2), 20rem);
      overflow-y: auto;
      overscroll-behavior: contain;

      @include menuLayout();
    }
  }

  &.card,
  &.form {
    & > .body {
      padding: var(--spacing-l);

      @include desktop() {
        padding: var(--spacing-xl);
      }
    }
  }

  &.form {
    max-width: var(--width-m);
    min-width: var(--width-xs);
    margin-block: var(--spacing-xl);

    & > .header {
      display: flex;
      padding-inline: var(--spacing-l);
      padding-block-start: var(--spacing-l);

      @include desktop {
        padding-inline: var(--spacing-xl);
        padding-block-start: var(--spacing-xl);
      }

      & > .title {
        max-width: 90%;
        min-width: 50%;
        padding-inline: var(--spacing-xl);
        padding-block-end: var(--spacing-m);
        margin-inline: auto;
        border-block-end: 1px solid var(--c-gray-200);
        text-align: center;
        text-transform: capitalize;
      }
    }
  }

  &:not(.form) {
    & > .header {
      & > .title {
        text-align: center;
        padding: 1rem 3rem;
        text-transform: capitalize;
      }
    }
  }

  & > .header {
    border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
  }

  & > .footer {
    border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
  }
}
