@use "styles/abstracts/mixins" as *;

.TeacherList {
  flex-grow: 1;

  td {
    &.phoneNumber {
      direction: ltr;
    }

    &.name {
      text-transform: capitalize;
    }
  }

  tr {
    @include genderColorCoding();
  }
}
