@use "styles/abstracts/mixins" as *;

.TeacherList {
  height: var(--body-height);
  max-height: var(--body-height);
  padding: var(--spacing-l);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);

  .Table {
    flex-grow: 1;
  }

  td {
    &.phoneNumber {
      direction: ltr;
    }

    &.name {
      text-transform: capitalize;
    }
  }

  tr {
    @include genderColorCoding();
  }
}
