@use "styles/components/button" as *;
@use "styles/abstracts/mixins" as *;

.StatusMenu {
  & > .menu {
    overflow: visible;
  }

  .MiniForm {
    gap: var(--spacing-s);
  }

  .customStatusWrapper {
    @include menuLayout();

    border-block: 1px solid var(--c-gray-100);
    padding-inline: unset;
  }

  .statusMenu {
    & > .body {
      overflow: visible;
    }
  }

  .driver,
  .option {
    --icon-space: 2em;

    padding-inline-end: var(--icon-space) !important;

    @include statusButton();

    .CheckMark {
      --spacing: calc(var(--icon-space) / 2);

      @include positioning($inline: var(--spacing), $inlineDir: "end");
    }
  }
}
