@use "styles/abstracts/mixins" as *;

.Admin {
  height: var(--body-height);
  max-height: var(--body-height);
  display: grid;
  gap: var(--spacing-m);

  @include desktop {
    padding: var(--spacing-m);
  }
}
