/* LANGUAGE SELECTOR */

.LanguageSelector {
  display: flex;
  justify-content: center;
  gap: 1rem;
  direction: ltr;

  .element {
    width: 2.25rem;
    height: 2.25rem;
    background-color: var(--c-shadow-100);
    border-radius: 0.25rem;
    font-weight: 600;
    color: var(--c-gray-500);

    &.selected {
      background-color: var(--c-secondary-300);
      color: var(--c-white);
      box-shadow: 2px 2px 8px var(--c-shadow-400);
    }

    &.ar {
      padding-block-end: 0.4rem;
    }
  }
}
