@use "styles/abstracts/mixins" as *;

.Avatar {
  --border-width: 0.125rem;
  --circle-size: 3rem;
  --bg-color: var(--c-gray-200);
  --border-color: var(--c-primary-200);

  border: var(--border-width) solid var(--border-color);
  overflow: hidden;

  @include circle(var(--circle-size), var(--bg-color));

  .photo {
    width: 100%;
    height: 100%;
  }
}
