:root {
  // BRAND COLORS
  --c-primary: #3d6d8f;
  --c-primary-light: #add1eb;
  --c-primary-dark: #1c374a;
  --c-success: #84ad13;
  --c-success-dark: #4a6109;
  --c-success-light: #e2f1bc;
  --c-error: #e04024;
  --c-error-dark: #672013;
  --c-error-light: #df988b;
  --c-black: #13171a;
  --c-white: #fdfefe;
  --c-shadow: #3f44472d;
  --c-shadow-dark: #13171a88;
  --c-shadow-light: #cad1d64d;

  // COLOR CODING
  --c-unknown: #3f44472d;
  --c-unknown-text: #13171a88;
  --c-canceled: #e04024;
  --c-active: #53a307;
  --c-pending: #9023bb;
  --c-finished: #227aff;
  --c-postponed: #d3b300;
}

// Sizes
$sMobile: 35em; // can't use var in @media

// ColorCodeType
$subscription: "subscription";
$studentState: studentState;
