/* STUDENT FORM */

.StudentForm {
  margin-inline: auto;

  .submit-btn {
    background-color: var(--c-success);
    color: var(--c-white);

    &:disabled {
      background-color: var(--c-shadow-dark);
      cursor: not-allowed;

      &.submitting {
        background-color: var(--c-success-light);
        cursor: default;
      }
    }
  }
}

/* CUSTOMER FORM */

.CustomerForm {
  margin-inline: auto;

  .submit-btn {
    background-color: var(--c-success);
    color: var(--c-white);

    &:disabled {
      background-color: var(--c-shadow-dark);
      cursor: not-allowed;

      &.submitting {
        background-color: var(--c-success-light);
        cursor: default;
      }
    }
  }
}
