/* STUDENT FORM */
/* CUSTOMER FORM */

.StudentForm,
.CustomerForm {
  margin-inline: auto;

  .submitBtn {
    background-color: var(--c-success);
    color: var(--c-white);

    &:disabled,
    &.submitting {
      color: var(--c-shadow-dark);
      background-color: var(--c-shadow);
      cursor: not-allowed;

      &.submitting {
        cursor: default;
      }
    }
  }
}
