@use "styles/abstracts/mixins" as *;

.Network {
  --fill-color: var(--c-white);

  display: flex;
  gap: var(--spacing-m);
  color: var(--c-white);
  background-color: var(--bg-color);
  padding: var(--spacing-m) var(--spacing-l);
  border-radius: var(--radius-s);
  z-index: 1000;

  @include positioning(
    $position: fixed,
    $blockDir: end,
    $inlineDir: end,
    $block: var(--spacing-m),
    $inline: var(--spacing-m),
    $y: 0,
    $x: 0
  );

  &.online {
    --bg-color: var(--c-success-200);
  }

  &.offline {
    --bg-color: var(--c-danger-200);
  }
}
