@use "styles/abstracts/mixins" as *;

.Toast {
  $parent: &;

  --toast-countdown: 100%;
  --toast-lifetime: 7s;
  --fill-color: var(--toast-fg-color);
  --icon-spacing: 2.66rem;
  --icon-center: calc(var(--icon-spacing) / 2);

  max-width: var(--width-m);
  min-width: var(--width-xs);
  width: fit-content;
  min-height: 3rem;
  display: flex;
  align-items: center;
  background-color: var(--toast-bg-color);
  padding: var(--spacing-s) var(--icon-spacing);
  position: relative;
  box-shadow: var(--drop-shadow-s);
  overflow: hidden;

  @include withBorder($borderColor: var(--toast-fg-color));

  // :hover can't be nested under ::after
  &:hover::after {
    --toast-countdown-bar-color: var(--c-shadow-500);

    width: var(--toast-countdown);
  }

  // :not(:hover) can't be nested under ::after
  &:not(:hover)::after {
    animation: countdownAnimation var(--toast-lifetime) linear;

    @keyframes countdownAnimation {
      from {
        width: var(--toast-countdown);
      }
      to {
        width: 0;
      }
    }
  }

  &::after {
    --toast-countdown-bar-color: var(--toast-fg-color);

    content: "";
    height: var(--spacing-xs);
    background-color: var(--toast-countdown-bar-color);

    @include positioning($blockDir: end, $block: 0, $inline: 0, $x: 0, $y: 0);
  }

  &.floating {
    --x-idle: var(--x-displacement);

    z-index: 1000;

    @include positioning($position: fixed, $block: var(--spacing-m), $y: 0);
  }

  &.success {
    --toast-text-color: var(--c-success-400);
    --toast-fg-color: var(--c-success-300);
    --toast-bg-color: var(--c-success-100);
  }

  &.info {
    --toast-text-color: var(--c-info-400);
    --toast-fg-color: var(--c-info-300);
    --toast-bg-color: var(--c-info-100);
  }

  &.warning {
    --toast-text-color: var(--c-warning-400);
    --toast-fg-color: var(--c-warning-300);
    --toast-bg-color: var(--c-warning-100);
  }

  &.danger {
    --toast-text-color: var(--c-danger-400);
    --toast-fg-color: var(--c-danger-300);
    --toast-bg-color: var(--c-danger-100);
  }

  @at-root .toastIcon {
    @include positioning(
      $parent,
      $child: &,
      $inline: var(--icon-center),
      $block: var(--icon-center)
    );
  }

  .message {
    border-inline-start: 1px solid var(--toast-fg-color);
    padding-inline-start: var(--spacing-m);
    padding-block: var(--spacing-s);

    &,
    & * {
      color: var(--toast-text-color);
    }
  }

  .CloseButton {
    --fill-color: var(--toast-fg-color);

    &:hover {
      --fill-color: var(--toast-bg-color);
      --bg-color: var(--toast-fg-color);
    }
  }

  @at-root .CloseButton {
    @include positioning(
      $parent,
      $child: &,
      $inlineDir: end,
      $inline: var(--icon-center),
      $block: var(--icon-center)
    );
  }
}
