@use "styles/abstracts/mixins" as *;

.Modal {
  z-index: 100;

  @include positioning($position: fixed, $inline: 0, $block: 0, $x: 0, $y: 0);

  &,
  & > .background,
  & > .foreground {
    width: 100vw;
    height: 100vh;
  }

  & > .background {
    background-color: var(--c-shadow-400);

    @include positioning();
  }

  & > .foreground {
    display: flex;
    justify-content: center;
    overflow: auto;

    &.center {
      align-items: center;
    }

    & > .body {
      height: fit-content;
      position: relative;

      @include desktop {
        margin: var(--spacing-xl);
      }

      & > .CloseButton {
        margin: var(--spacing-m);
        z-index: 70;

        @include positioning(
          $inlineDir: end,
          $inline: 0,
          $block: 0,
          $x: 0,
          $y: 0
        );
      }
    }
  }
}
