.SelectionField {
  position: relative;

  .menu {
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--c-white);
    box-shadow: 2px 2px 8px var(--c-shadow);
    list-style-type: none;
    position: absolute;
    top: 100%;
    z-index: 2;

    max-height: 30rem;
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: contain;

    .element {
      height: 2.5rem;
      display: flex;
      gap: 1rem;
      align-items: center;
      padding-inline: 1.25rem;
      border-radius: 0.25rem;
      cursor: pointer;

      &:hover {
        background-color: var(--c-shadow-light);
      }
    }
  }
}
