/* INPUT FIELD */

.InputField {
  .wrapper {
    height: 3rem;
    width: 100%;
    display: flex;
    border: 1px solid var(--c-primary-dark);
    border-radius: 0.25rem;
    overflow: hidden;

    &:focus-within {
      outline: 2px solid var(--c-primary-light);
      border-color: var(--c-primary-light);
    }

    &.invalid {
      outline: 2px solid var(--c-danger-300);
      border-color: var(--c-danger-300);
    }

    .field {
      flex: 1;
      padding: 0.5rem;
      font-size: 1rem;
      border: none;
    }
  }

  .error {
    color: var(--c-danger-300);
    margin-block-start: 0.5rem;
  }
}
