.StudentList {
  td {
    &.phoneNumber {
      direction: ltr;
    }

    &.name {
      text-transform: capitalize;
    }

    &.statusButton {
      padding: 0 0.5rem;
    }

    .note {
      background-color: transparent;
      width: 100%;
      text-align: start;
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 1rem;

      &.createNote {
        text-align: center;
      }
    }
  }
}
