.StudentList {
  padding: var(--spacing-l);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);

  .loadMore {
    position: sticky;
    top: 100%;
    margin-block: var(--spacing-m);

    &[dir="rtl"] {
      right: 50%;
      transform: translateX(50%);
    }

    &[dir="ltr"] {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .Table {
    flex-grow: 1;
  }

  td {
    &.phoneNumber {
      direction: ltr;
    }

    &.name {
      text-transform: capitalize;
    }

    &.buttonCell {
      padding-inline: var(--spacing-m);

      .mutableValue {
        width: 100%;

        .Ellipsis {
          width: 100%;

          &.empty {
            text-align: center;
            color: var(--c-gray-300);
          }
        }
      }
    }
  }

  tr {
    &[gender="male"] {
      background-color: var(--c-male);
    }

    &[gender="female"] {
      background-color: var(--c-female);
    }
  }
}
