@import "styles/utils";

.StudentList {
  td {
    &.phoneNumber {
      direction: ltr;
    }

    &.name {
      text-transform: capitalize;
    }

    &.colorCoded {
      padding: 0.5rem 1rem;
    }
  }

  @include colorCoded($studentState, $subscription);
}
