@use "styles/abstracts/mixins" as *;

.DropdownButton {
  --icon-space: 2rem;
  --spacing: calc(var(--icon-space) / 2);

  &.withChildren {
    padding-inline-end: var(--icon-space) !important;

    .SpinningArrow {
      @include positioning($inline: var(--spacing), $inlineDir: "end");
    }
  }
}
