.PhoneNumber {
  .data {
    display: flex;
    gap: 0.5rem;

    .code {
      flex: 2;

      .menu {
        max-height: 30rem;
        overflow-y: auto;
        overflow-x: hidden;
        overscroll-behavior: contain;
      }
    }

    .number {
      flex: 5;
    }
  }

  .tags {
    margin-block-start: 0.5rem;
    display: flex;
    gap: 2rem;
  }
}
