.MenuInput {
  position: relative;

  &.multiChoice {
    .Input {
      .FieldWrapper {
        height: unset;
      }

      .selected {
        flex-wrap: wrap;
      }

      .option {
        padding: var(--spacing-xs) var(--spacing-s);
        background-color: var(--c-primary-100);
        border-radius: var(--spacing-m);
      }
    }
  }

  .Input {
    --fill-color: var(--c-gray-400);

    position: unset; // fixes an issue with error messages width.

    &.hidden {
      .FieldWrapper {
        padding-block: calc(var(--spacing-m) - var(--spacing-xs));
      }

      .field {
        position: absolute;
        opacity: 0;
      }
    }

    &:focus-within {
      --fill-color: var(--c-primary-200);
    }

    .selected {
      width: 100%;
      display: flex;
      gap: var(--spacing-m);
      align-items: center;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
      cursor: text;
    }
  }
}
