@use "styles/abstracts/mixins" as *;

.MenuInput {
  position: relative;

  .Input {
    position: unset; // fixes an issue with error messages width.

    &.hidden {
      .field {
        position: absolute;
        opacity: 0;
      }
    }

    &:focus-within {
      .DropdownArrow {
        --fill-color: var(--c-primary-200);
      }
    }

    .selected {
      @include menuItem();

      cursor: text;
    }
  }

  .menu {
    .list {
      list-style-type: none;

      .element {
        padding-inline: 0.75rem;
        border-radius: 0.25rem;
        cursor: pointer;

        @include menuItem();

        &:hover {
          background-color: var(--c-shadow-200);
        }
      }
    }
  }
}
