.SearchBar {
  .searchForm {
    &.MiniForm {
      gap: 0;

      .searchField {
        .FieldWrapper {
          border-end-end-radius: 0;
          border-start-end-radius: 0;
        }
      }

      .Button {
        border-start-start-radius: 0;
        border-end-start-radius: 0;
      }
    }
  }

  .searchField {
    .icon {
      width: 1.25rem;
      fill: var(--c-gray-300);
    }

    &:focus-within {
      .icon {
        fill: var(--c-gray-400);
      }
    }

    .FieldWrapper {
      gap: var(--spacing-m);
    }
  }
}
