@use "styles/abstracts/mixins" as *;

.Header {
  width: 100%;
  padding-inline: var(--spacing-l);
  z-index: 80;

  @include positioning($position: sticky, $block: 0, $y: 0, $x: 0);

  .logo {
    width: 3rem;
    height: 3rem;

    @include positioning();
  }

  .wrapper {
    height: var(--header-height);
    border-block-end: 1px solid var(--c-gray-200);
    display: flex;
    gap: var(--spacing-l);
    align-items: center;
    justify-content: space-between;
    position: relative;

    .title {
      &.followSidebar {
        margin-inline-start: var(--sidebar-offset);

        @include sidebarAnimation(margin-inline-start, 75ms);
      }
    }

    .actions {
      display: flex;
      gap: var(--spacing-l);
    }
  }
}
