@use "styles/abstracts/mixins" as *;

.FormSection {
  margin-block: var(--spacing-l) var(--spacing-m);
  padding-block: var(--spacing-m) var(--spacing-xl);
  position: relative;
  display: grid;
  gap: var(--spacing-xl);
  outline: 1px solid var(--c-gray-100);
  outline-offset: var(--spacing-m);
  border-radius: var(--spacing-xs);

  &.compact {
    padding-block-end: unset;
    gap: var(--spacing-l);

    @include mobile {
      & > .InputGroup {
        gap: var(--spacing-l);

        &.dynamicListItem {
          gap: var(--spacing-m);
        }
      }
    }
  }

  @include mobile {
    outline-offset: var(--spacing-s);
    padding-block-end: unset;

    & > :not(:last-child).InputGroup.dynamicListItem {
      padding-block-end: var(--spacing-m);
      border-block-end: 1px solid var(--c-gray-100);
    }

    &:not(.compact) > :last-child:not(.InputGroup.dynamicListItem) {
      margin-block-end: var(--spacing-xl);
    }
  }

  & > .title {
    padding-inline: var(--spacing-s);
    background-color: var(--c-white);

    @include positioning(
      $block: calc(-1 * var(--spacing-m)),
      $inline: var(--spacing-s),
      $x: 0
    );
  }
}
