.ScheduleForm {
  width: 40rem;

  .TimeInput {
    flex: 2;
  }

  .fieldRow {
    & > .action {
      flex-grow: 0;
      align-self: flex-end;
    }

    & > .position {
      flex-grow: 0;
      align-self: flex-end;
      min-width: 2.5rem;
    }
  }
}
