@use "styles/abstracts/mixins" as *;

.CloseButton {
  --fill-color: var(--c-gray-300);

  display: flex;
  justify-content: center;
  align-items: center;

  @include circle(2rem, var(--bg-color));

  &:hover {
    --fill-color: var(--c-white);
    --bg-color: var(--c-danger-200);
  }
}
