.CloseButton {
  width: 2rem;
  height: 2rem;
  background-color: var(--c-gray-100);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    --fill-color: var(--c-white);

    background-color: var(--c-danger-300);
  }
}
