@use "styles/abstracts/mixins" as *;

.MetaData {
  $parent: &;
  padding: var(--spacing-xl) var(--spacing-m);
  margin-block-start: var(--spacing-xl);

  .Button {
    @include positioning(
      $position: fixed,
      $inlineDir: end,
      $block: var(--spacing-m),
      $inline: var(--spacing-m),
      $y: 0,
      $x: 0
    );

    .loadingIndicator {
      @include positioning($parent, $child: ".loadingIndicator");
    }
  }

  code {
    white-space: pre;
  }
}
