@use "styles/abstracts/mixins" as *;

.Header {
  width: 100%;
  padding-inline: var(--spacing-l);
  z-index: 80;

  @include positioning($position: sticky, $block: 0, $inline: 0, $y: 0, $x: 0);

  .wrapper {
    height: var(--header-height);
    border-block-end: 1px solid var(--c-gray-200);
    display: flex;
    gap: var(--spacing-l);
    align-items: center;
    justify-content: space-between;
    position: relative;

    .title {
      margin-inline-start: var(--spacing-xl);
    }

    .actions {
      display: flex;
      gap: var(--spacing-l);
    }
  }
}
