.Ellipsis {
  position: relative;
  max-width: 100%;
  color: var(--text-color);

  &.center {
    display: flex;
    align-items: center;
    justify-content: center;

    & > span {
      &.start,
      &.end {
        display: inline-block;
        flex: 1;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: "";
      }

      &.sizeMeasure {
        white-space: nowrap;
        position: absolute;
        opacity: 0;
      }
    }
  }

  &:not(.center) {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.end,
  & > .end {
    &[dir="rtl"] {
      direction: ltr;
    }

    &[dir="ltr"] {
      direction: rtl;
    }
  }
}
