@use "styles/abstracts/mixins" as *;

.Table {
  --cell-max-width: 15rem;
  --row-height: 2.875rem;

  margin-inline: unset;
  overflow: auto;

  .body {
    display: flex;
  }

  .footer {
    min-height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-l);

    @include positioning(
      $position: sticky,
      $inline: 0,
      $block: 100%,
      $x: 0,
      $y: 0
    );
  }

  .prefix {
    z-index: 70;

    @include positioning(
      $position: sticky,
      $inline: 0,
      $block: 0,
      $x: 0,
      $y: 0
    );

    th,
    td {
      padding-inline: var(--spacing-m);

      &:first-child {
        padding-inline-start: var(--spacing-l);
      }
    }

    td {
      color: var(--c-gray-400);
    }
  }

  .data {
    flex-grow: 1;

    thead {
      th {
        &:hover {
          background-color: var(--c-shadow-200);
        }
      }
    }

    tbody {
      tr {
        &:hover {
          background-color: var(--c-shadow-100);
        }
      }
    }
  }

  thead {
    background-color: var(--c-gray-100);
    border-block-end: 1px solid var(--c-gray-300);
    position: sticky;
    top: 0;
    z-index: 60;

    th {
      text-align: start;
      text-transform: capitalize;
      font-weight: bold;
    }
  }

  tr {
    height: var(--row-height);
    border-block-end: 1px solid var(--c-gray-200);
  }

  th,
  td {
    padding-inline: var(--spacing-l);

    &.fit {
      width: 1%;
      white-space: nowrap;
    }

    &.clip {
      width: 1%;
      max-width: var(--cell-max-width);

      &:not(.buttonCell) {
        overflow-x: hidden; // causes issus in Chrome
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
