/* COUNTRY SELECTOR */

.CountrySelector {
  .menu {
    width: 25rem;

    .info {
      display: flex;
      gap: 0.75rem;
      align-items: center;
      justify-content: flex-start;

      .name {
        max-width: 300px;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
