@use "styles/abstracts/mixins" as *;

.FieldWrapper {
  height: 2.5rem;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;

  @include fieldBorder();

  &.contentFullWidth {
    padding-inline: 0;
  }

  .FieldWrapper {
    height: calc(2.5rem - 2px);

    @include noFieldBorder();
  }

  .partition {
    width: 1px;
    height: 1.5rem;
    background-color: var(--c-gray-200);
  }
}
