@use "styles/abstracts/mixins" as *;

.FieldWrapper {
  height: 2.5rem;
  width: 100%;
  padding: var(--spacing-m);
  display: flex;
  align-items: center;

  @include withBorder(
    $states: (
      "focus",
      "invalid",
    )
  );

  &.contentFullWidth {
    padding-inline: 0;
  }

  .FieldWrapper {
    height: calc(2.5rem - 2px);

    @include withoutBorder();
  }

  .partition {
    width: 1px;
    height: 1.5rem;
    background-color: var(--c-gray-200);
  }
}
