@use "styles/abstracts/mixins" as *;

.FieldWrapper {
  width: 100%;
  padding: var(--spacing-m);
  display: flex;
  align-items: center;
  background-color: var(--c-white);

  @include withBorder(
    $states: (
      "focus",
      "invalid",
    )
  );

  &.expandable {
    min-height: 2.5rem;
  }

  &:not(.expandable) {
    height: 2.5rem;
  }

  &.contentFullWidth {
    padding-inline: 0;
  }

  .FieldWrapper {
    height: calc(2.5rem - 2px);

    &:not(.alwaysVisible) {
      background-color: transparent;

      @include withoutBorder();
    }
  }

  .partition {
    width: 1px;
    height: 1.5rem;
    background-color: var(--c-gray-200);
  }
}
