/* SIGN UP */

.SignUp {
  width: 100vw;
  min-width: 50rem;
  height: 100vh;
  padding: 6rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-size: cover;
  background-position: center;

  .google-sign-in {
    background-color: var(--c-white);
  }
}
