@use "styles/abstracts/mixins" as *;

.Textarea {
  .FieldWrapper {
    &,
    &:not(.alwaysVisible) {
      &:hover {
        background-color: var(--c-shadow-100);
      }
    }
  }

  @include ltrDir {
    .field {
      &::placeholder {
        text-align: left;
      }

      &:placeholder-shown {
        direction: ltr;
      }
    }
  }

  rtlDir {
    .field {
      &::placeholder {
        text-align: right;
      }

      &:placeholder-shown {
        direction: rtl;
      }
    }
  }

  .field {
    width: 100%;
    max-width: 100%;
    font-size: 1rem;
    border: none;
    background-color: transparent;
    resize: none;

    &:focus {
      outline: none;
    }
  }
}
