svg {
  --icon-size-s: 1rem;
  --icon-size-m: 1.5rem;
  --icon-size-l: 2rem;
  --icon-size-w: var(--icon-size);
  --icon-size-h: var(--icon-size);

  width: var(--icon-size-w);
  height: var(--icon-size-h);

  &.icon,
  &.iconS,
  &.iconM,
  &.iconL {
    fill: var(--fill-color);
    stroke: var(--stroke-color);
  }

  &.icon {
    --icon-size: var(--icon-size-m);
  }

  &.iconS {
    --icon-size: var(--icon-size-s);
  }

  &.iconL {
    --icon-size: var(--icon-size-l);
  }

  &.infoIcon {
    --fill-color: var(--c-info-300);
    --stroke-color: var(--c-info-300);
  }

  &.successIcon {
    --fill-color: var(--c-success-300);
    --stroke-color: var(--c-success-300);
  }

  &.warningIcon {
    --fill-color: var(--c-warning-300);
    --stroke-color: var(--c-warning-300);
  }

  &.dangerIcon {
    --fill-color: var(--c-danger-300);
    --stroke-color: var(--c-danger-300);
  }
}

[position="before-field"],
[position="after-field"] {
  color: var(--c-gray-300);
  font-size: 0.875rem;
}
